
.menu {
    margin-left: 0;
    margin: 0;  
    list-style-type: none; 
}


.container {
    margin-left: auto;
    margin-right: auto;
    height: 1626px;
}
.page-header {
    padding-top: 40px;
    padding-bottom: 25px;
}
.navigation {
    display: inline-block;
    
}
.menu-item {
    display: inline-block;
    margin-left: 52px;
    padding: 25px;
   
}
.menu-link {
    margin-left: 100px;
    color:
    #FF0000;
    font-weight: 700;
font-size: 18px;
line-height: 18px;
display: flex;
align-items: center;

}
.text-header {
    margin-left: 383px;
}
.text {
    text-align:center;
    font-weight: 400;
    font-size: 16px;
     line-height: 26px;
}
.wrapper {
    text-align:center;
    font-weight: 400;
    font-size: 16px;
     line-height: 26px;
     color: color: #373737;

}
.button-started {
   border: #FFFFFF;
    margin-left: 545px;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    padding-top:0;
    color: #FFFFFF;
    
}
.footer-footer {
    margin-left: 945px;
    
     width: 462px;
     height: 39px;
     left: 608px;
     top: 25px;
     font-size: larger;
     font-weight: 700;
     padding-top: 555;
}

